In this intro Data Science Tools and Ecosystem are summarised

# Data Science Tools and Ecosystem

Some of the popular languages data scientists use are:
- Python
- R
- SQL
- Julia

Some of the commonly used libraries by Data Scientists include:
- numpy
- panda
- scipy
- matplotlib

|Data Science Tools|
|------------------|
|RStudio           |
|------------------|
|ApacheSpark       |
|------------------|
|Tensorflow        |
|------------------|

In [1]:
### Below are a few examples of evaluating arithmetic expressions in Python

### Below are a few examples of evaluating arithmetic expressions in Python

In [3]:
(3*4)+5

17

In [2]:
# This a simple arithmetic expression to mutiply then add integers

In [4]:
# This will convert 200 minutes to hours by dividing by 60
200/60

3.3333333333333335

# Objectives:
- R
- Python
- SQL
- JAVA

## Author: Suresh Radhakrishnan